<h1 class="home__titulo">Desafio SPA com Angular - Avanade</h1>
<main class="home__main">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Tabuada"><app-tabuada></app-tabuada></mat-tab>
    <mat-tab label="Porcentagem"><app-porcentagem></app-porcentagem></mat-tab>
    <mat-tab label="Sobre"><app-sobre></app-sobre></mat-tab>
  </mat-tab-group>
</main>
<footer class="home__footer">
  <p>
    Desenvolvido por
    <a href="https://samyror.github.io/" target="_blank">samyrdev</a>
  </p>
</footer>
