<p>Componentes criados</p>
<ul>
  <li>Home - <i>Componente onde estão localizados os outros componentes</i></li>
  <li>Tabuada - <i>Componente responsável pela tabuada</i></li>
  <li>
    Porcentagem -
    <i>Componente responsável pelos cálculos de porcentagem</i>
  </li>
  <li>Sobre - <i>Informações sobre a aplicação</i></li>
</ul>
<p>Componentes do Angular Material utilizados</p>
<ul>
  <li>Buttons</li>
  <li>Form field</li>
  <li>Tabs</li>
  <li>Table</li>
</ul>
<p>
  Para mais informações, acessar
  <a
    href="https://github.com/SamyrOR/Avanade-Angular-DIO-bootcamp/tree/master/desafio-spa"
    target="_blank"
    >Github da página</a
  >
</p>
