%align-center {
  text-align: center;
}
.tabuada {
  &__titulo {
    @extend %align-center;
    margin-top: 10px;
  }
  &__table {
    width: 100%;
  }
  &__form {
    min-width: 150px;
    max-width: 150px;
    width: 100%;
    display: inline-block;
    margin-right: 10px;
    input {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    &--full-width {
      width: 100%;
    }
    &--wrapper {
      @extend %align-center;
    }
  }
}
