<div class="tabuada">
  <h2 class="tabuada__titulo">Descubra a tabuada</h2>
  <div class="tabuada__form--wrapper">
    <form class="tabuada__form">
      <mat-form-field class="tabuada__form--full-width">
        <mat-label>Número</mat-label>
        <input type="number" matInput [formControl]="valor" placeholder="1" />
        <mat-error
          *ngIf="valor.hasError('maxLength') && !valor.hasError('required')"
        >
          Não insira mais que um número
        </mat-error>
        <mat-error *ngIf="valor.hasError('required')">
          Insira ao menos um <strong>número</strong>
        </mat-error>
      </mat-form-field>
    </form>
    <button
      (click)="onClick()"
      [disabled]="!valor.value"
      mat-flat-button
      color="primary"
    >
      Ver tabuada
    </button>
  </div>
  <table
    *ngIf="mostrarTable"
    mat-table
    [dataSource]="valoresTabuada"
    class="mat-elevation-z8 tabuada__table"
  >
    <ng-container matColumnDef="Valor">
      <th mat-header-cell *matHeaderCellDef>Valor</th>
      <td mat-cell *matCellDef="let tabuada">{{ tabuada.valorInserido }}</td>
    </ng-container>
    <ng-container matColumnDef="Multiplicador">
      <th mat-header-cell *matHeaderCellDef>Multiplicador</th>
      <td mat-cell *matCellDef="let tabuada">{{ tabuada.multiplicador }}</td>
    </ng-container>

    <ng-container matColumnDef="Resultado">
      <th mat-header-cell *matHeaderCellDef>Resultado</th>
      <td mat-cell *matCellDef="let tabuada">{{ tabuada.resultado }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr mat-row *matRowDef="let row; columns: colunas"></tr>
  </table>
</div>
